/* Global Styling */
body{
	background-color: #7252FF;
	background: url("http://awana.convio.net/images/content/pagebuilder/spyglass_icon.png");
	background-repeat: repeat;
}

#form-container{
	background-color: #E5CEE8;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-family: Georgia;
}

/*Core info styling*/
fieldset.core-info{
	border-color: #E85C0C;
}