/* Global styling */
caption.title{
	font-size: 160%;
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bold;
}

tr.heading{
	font-size: 120%;
}

/* table 1 styling */
th.table1-cell,td.table1-cell{
	border: 1px solid #6B50FF;
	border-collapse: collapse;
}

#schedule{
	border: 3px solid #6B50FF;
	border-collapse: collapse;
	width: 50%;
}

#sched-header{
	background-color: #D6B0E8;
}

#table-1{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

/*Table 2 styling */
thead.table2-head th{
	background-color: #506EFF;
	text-align: center;
	border: 2px solid white;
}

tfoot.table2-foot td{
	background-color: #D7BEE8;
	text-align: center;
	color: blue;
	border: 2px solid white;
}

tr.table2-row td{
	border-bottom: 1px dashed black;
}

tr.table2-row:last-of-type td{
	border-bottom: none;
}

tr.table2-row:first-of-type td{
	font-weight: bold;
}

#table-2{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#study-group{
	width: 50%;
	border-collapse: collapse;
}

/* table 3 styling */
#table-3{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#refreshments{
	width: 50%;
	border: 5px solid #5264FF;
	border-collapse: collapse;
}

tr.table-3-heading{
	background-color: #5264FF;
	color: white;
	text-align: center;
}

tr.table-3-heading th{
	width: 100px;
	height: 30px;
	font-size: 120%;
}

tr.table3-row td{
	border: 2px solid #5264FF;
}

tr.table3-row:nth-of-type(odd) td{
	background-color: #E5CEE8;
}